
.chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.8em;
    left: 0.15em;
    position: relative;
    top: 0.3em;
    vertical-align: top;
    width: 0.8em;
  }
  .sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    transition: 0.3s;
    width: 60px;
    &.expanded {
      width: 150px;
      .header {
        h1 {
          margin-left: 0px;
        }
        .chevron {
          margin-left: 0px;
          &::before {
            transform: rotate(-135deg);
          }
        }
      }
      .content {
        .link {
          .content {
            .title {
              max-width: 100px;
              font-size: 16px;
            }
            .icon {
              margin-right: 3px;
            }
          }
          .children {
            .content {
              padding-left: 30px;
            }
          }
        }
      }
    }
  
    background: rgba($color: #002c4f, $alpha: 0.8); //background opções home
    color: #fff;
  
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 11px;
  
      background: rgba($color: #002c4f, $alpha: 0.8); // background chamado
  
      h1 {
        font-size: 20px;
        color:#fff;
        margin: 0;
        flex: 1;
        transition: 0.3s;
  
        margin-left: -100px;
      }
  
      .chevron {
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
        margin-left: -25px;
  
        padding: 3px;
        min-width: 20px;
        height: 20px;
        display: block;
        text-align: center;
  
        &::before {
          transition: 0.3s;
          transform: rotate(45deg);
        }
  
        &:hover {
          color: white;
        }
      }
    }
  
    .content {
      .link {
        .children {
          .content {
            background: rgba($color: #002c4f, $alpha: 0.8); // backgroud color child1
            // padding-left: 30px;
            padding-left: 10px;
  
            &.active {
              background: #191a27;
            }
          }
        }
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
  
          cursor: pointer;
  
          transition: 0.3s;
  
          &:hover {
            background: #0f1017;
            .title {
              color: white;
            }
            svg {
              fill: white;
            }
          }
  
          &.active {
            background: #0f1017;
            .title {
              color: white;
            }
          }
  
          .icon {
            flex: 0 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0px;
            font-size: large;
          }
          .title {
            flex: 1;
            // display: none;
            color: #fff;
            transition: 0.3s;
            max-width: 0px;
            overflow: hidden;
          }
        }
      }
    }
  }
  