<div class="row g-0 grid-table-cadastros">
    <div class="borda-grid table-responsive tamanho-grid-cadastro">
        <table class="table table-sm table-bordered ">
            <thead>
                <tr class="table-primary">
                    <th class="centralizar-btn-adicionar">
                        <button class="btn btn-sm btn-success"><i
                        class="bi bi-plus-lg"></i>Adicionar</button>
                    </th>
                    <th>
                        <label>Cód.Parceiro</label>
                        <input class="form-control form-control-sm mb-1">
                    </th>
                    <th>
                        <label>Nome Parceiro</label>
                        <input class="form-control form-control-sm mb-1">
                    </th>
                    <th>
                        <label>Situação</label>
                        <input class="form-control form-control-sm mb-1">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn btn-primary btn-sm" title="Visualizar"></button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>