<div class="row g-0 grid-table-cadastros">
    <div class="borda-grid table-responsive tamanho-grid-cadastro">
        <table class="table table-sm table-bordered ">
            <thead>
                <tr class="table-primary">
                    <th class="centralizar-btn-adicionar">
                        <button class="btn btn-sm btn-success" (click)="abrirModalAdicionar()"><i
                                class="bi bi-plus-lg"></i>Adicionar</button>
                    </th>
                    <th>
                        <label>Cód.Status</label>
                        <input class="form-control form-control-sm mb-1">
                    </th>
                    <th>
                        <label>Descrição</label>
                        <input class="form-control form-control-sm mb-1">
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let status of listaStatus; let i index">
                <tr>
                    <td class="d-flex justify-content-around">
                        <button class="btn btn-primary btn-sm" (click)="abrirModalEditar(status)"
                            title="Editar">Editar</button>
                        <button class="btn btn-danger btn-sm" (click)="abrirModalExclusao(status)"
                            title="Editar">Excluir</button>
                    </td>
                    <td>{{status.codStatus}}</td>
                    <td>{{status.descricao}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #adicionar let-modal>
    <div class="container">
        <div class="modal-header">
            <h5 class="modal-title">Adicionar Status</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-boby">
            <form *ngIf="statusForm" [formGroup]="statusForm" (ngSubmit)="onSubmit('adicionar')">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" formControlName="descricao" class="form-control form-control-sm mb-1">
                <div class="msg-erro-form"
                    *ngIf="statusForm.get('descricao')?.hasError('required') && statusForm.get('descricao')?.touched">
                    Descrição é obrigatória.
                </div>
                <div class="agrupamento-btn-modal">
                    <button class="btn btn-sm btn-danger" (click)="modal.dismiss()">Cancelar</button>
                    <button class="btn btn-sm btn-success" type="submit"
                        [disabled]="!statusForm || statusForm.invalid">Cadastrar Status</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #editar let-modal>
    <div class="container">
        <div class="modal-header">
            <h5 class="modal-title">Editar Status</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-boby">
            <form *ngIf="statusForm" [formGroup]="statusForm" (ngSubmit)="onSubmit('editar')">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" formControlName="descricao" class="form-control form-control-sm mb-1">
                <div class="msg-erro-form"
                    *ngIf="statusForm.get('descricao')?.hasError('required') && statusForm.get('descricao')?.touched">
                    Descrição é obrigatório.
                </div>
                <div class="agrupamento-btn-modal">
                    <button class="btn btn-sm btn-danger" (click)="modal.dismiss()">Cancelar</button>
                    <button class="btn btn-sm btn-success" type="submit"
                        [disabled]="!statusForm || statusForm.invalid">Editar Status</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #excluir let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Excluir Status</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-boby">
        <div class="menssage-confirmacao">
            <p>Deseja excluir esse registro?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-sm" title="Cancelar" (click)="modal.dismiss()">Cancelar</button>
        <button class="btn btn-primary btn-sm" title="Confirmar" (click)="removerCadSistema()">Confirmar</button>
    </div>
</ng-template>